<table class="table table-hover table-striped">
  <thead>
    <% item.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to customer_path(comment.customer) do %>
        <%= attachment_image_tag comment.customer, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class:"rounded-circle"%>
        <% end %>
      </td>

      <td><strong class="shadow2"><%= comment.customer.name %></strong></td>

      <td><strong class="shadow2"><%= comment.comment %></strong></td>

      <td><strong class="shadow2"><%= comment.created_at.strftime('%Y/%m/%d') %></strong></td>

      <td>
        <% if comment.customer == current_customer %>
        <%= link_to "", item_comment_path(comment.item, comment), method: :delete, remote: true, class:"btn btn-danger btn-sm btn-block fas fa-trash-alt" %>
        <% end %>
      </td>
    </tr>
        <% end %>
  </thead>
</table>