<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
  <div class="d-flex align-items-center" style="height:860px;">
    <div class ="container">
      <h3 class ="text-center m-5 border-bottom p-2"><strong><font color="#E2E3CB">合言葉、お忘れですか？</font></strong></h3>
      
      <div class="mx-auto" style="width: 490px;">
        <div class="form-group row">
          <%= f.label :電子居所, class: "col-sm-5 col-form-label", :style=>"color:white;" %>
          <div class="col-sm-7">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 32 %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "伝送", class: "btn btn-sm w-100 btn-outline-warning rounded-pill" %>
          <br>
          <%= render "devise/shared/links" %>
        </div>  
      </div>
      
    </div>
  </div>  
<% end %>          