<% if @customer.errors.any? %>
  <%= @customer.errors.count %>errors
  <% @customer.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %> 

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2><span class="badge badge-pill badge-dark">プロフィール変更</span></h2>
        <%= form_with model:@customer, local:true do |f| %>
          
          <h6>プロフィール画像</h6>
          <%= f.attachment_field :profile_image %>
          
          <h6>ニックネーム</h6>
          <%= f.text_field :name, size: 30 %>
    
          <h6>一言</h6>
          <%= f.text_area :introduction %>
    
          <br><%= f.submit "変更" %> 
  
        <% end %>
    </div>
  </div>
</div> 