<div class="d-flex align-items-center" style="height:860px;">
  <div class="container">
    <div class="form-horizontal">
      <h3 class ="text-center m-5 border-bottom p-2"><strong><font color="#E2E3CB">絵姿変更</font></strong></h3>
      <%= form_with model:@customer, local:true do |f| %>

        <div class="container">
          <div class="form-horizontal">
        
        <div class="mx-auto" style="width: 500px;">
        <div class="form-group row">
          <%= f.label :絵姿, class: "col-sm-5 col-form-label shadow", :style=>"color:#E2E3CB;" %>
          <div class="col-sm-7">
          <%= f.attachment_field :profile_image %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :愛称, class: "col-sm-5 col-form-label shadow", :style=>"color:#E2E3CB;" %>
          <div class="col-sm-7">
          <%= f.text_field :name, size: 29 %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :一言, class: "col-sm-5 col-form-label shadow", :style=>"color:#E2E3CB;" %>
          <div class="col-sm-7">
          <%= f.text_area :introduction, size: 30 %>
          </div>
        </div>

        <div class="text-center">
        <br><%= f.submit "変更", class: "btn btn-sm w-100 btn-outline-warning rounded-pill" %>
        </div>
        <% end %>
    </div>
  </div>
</div>