<div>
  <h3><%= @customer.name %></h3>
  <%= image_tag('no_image.jpg') %>
  <% if @customer.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>

<% @items.each do |post_image| %>
<div>
  <%= link_to item_path(item.id) do %>
    <%= attachment_image_tag post_image, :image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag('no_image.jpg') %></p>
  <p>名：<%= item.name %></p>
  <p>説明：<%= item.guide %></p>
  <p>ユーザーネーム：<%= item.customer.name %></p>
</div>
<% end %>
<%#= paginate @items %>