<div class="d-flex align-items-center" style="height:860px;">
  <div class ="container">
    <div class="form-horizontal">
      <div class="text-center">
        <h2><span class="badge badge-pill badge-dark"><font color="#E2E3CB">問掛け</font></span></h2>
        <%= form_with model:@inquiry,url:inquiries_confirm_path,method: :post,local: true do |f| %>
      </div>
      
        <% if @inquiry.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>入力内容にエラーがあります</strong>
            <ul>
              <% @inquiry.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <table class="table">
          <tr>
            <th><font color="#E2E3CB">愛称</font><span class="text-danger">（必須）</span></th>
            <td><%= f.text_field :name, size: 28 %></td>
          </tr>
          <tr>
            <th><font color="#E2E3CB">メールアドレス</font><span class="text-danger">（必須）</span></th>
            <td><%= f.text_field :email, size: 28 %></td>
          </tr>
          <tr>
            <th><font color="#E2E3CB">問掛け内容</font></th>
            <td><%= f.text_area :message %></td>
          </tr>
        </table>
        
        <div class="text-center">
          <%= f.submit "確認", class: "btn w-50 btn-sm btn-outline-warning" %>
        </div>
      <% end %>
    </dvi>
  </dvi>  
</dvi>    