<%= flash[:alert] %>
<%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="d-flex align-items-center" style="height:860px;">
    <div class ="container">
      <h3 class ="text-center m-5 border-bottom p-2"><strong><font color="#E2E3CB">来遊者再館</font></strong></h3>

        <div class ="container">
          <div class="form-horizontal">
      
            <div class="form-group row">
              <%= f.label :メールアドレス, class: "col-sm-3 col-form-label", :style=>"color:white;" %>
              <div class="col-sm-9">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 32 %>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :パスワード, class: "col-sm-3 col-form-label", :style=>"color:white;" %>
              <div class="col-sm-9">
              <%= f.password_field :password, autocomplete: "current-password", size: 32 %>
              </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, :style=>"color:white;" %>
              </div>
            <% end %>
  
            <div class="text-center">
              <%= f.submit "ログイン", class: "btn btn-sm w-50 btn-outline-warning" %>
            </div>
              <% end %>
    
          </div>
        </div>
    </div>
  </div>    
 
    
    <%#= render "devise/shared/links" %>
