<% if @range == '2' %>
<h2>思ひで 検索 "<%= params[:word] %>"</h2>
<% else %>
<h2>来週者 検索 "<%= params[:word] %>"</h2>
<% end %>

<table class="table tabel-hover tabel-inverse">
  <% if @range == '2' %>
  <thead>
    <tr>
      <th>来遊者</th>
      <th>推しもん</th>
      <th>紹介</th>
      <th></th>
      <th></th>
      <th colspan='3'></th>
    </tr>
  </thead>
  
  <tbody>
    <% @item.each do |item| %>
    <tr>
      <td>
        <%= link_to(item.customer) do %>
        <%= attachment_image_tag(item.customer, :profile_image, :fill, 80, 80, fallback: "no_image.jpg") %>
        <% end %>
      </td>
      <td>
        <%= link_to item.name, item, class: "item_#{item.id}" %>
      </td>
      <td><%= item.guide %></td>
    </tr>
        <% end %>
  </tbody>
  <% else %>
  
  <thead>
    <tr>
      <th>来遊者</th>
      <th>ニックネーム</th>
      <th></th>
      <th></th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.each do |customer| %>  
      <tr>
        <td><%= attachment_image_tag(customer, :profile_image, :fill, 80, 80, fallback: "no_image.jpg") %></td>
        <td><%= customer.name%></td>
        <td><%= link_to "来遊者詳細", customer, class: "customer_#{customer.id}" %></td>
      </tr>
    <% end %>  
  </tbody>
  <% end %>    
</table>