<%= attachment_image_tag customer, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <table class="table">
    <tr>
      <td>ニックネーム</td>
      <td><%= customer.name %></td>
    </tr>
    <tr>
      <td>一言</td>
      <td><%= customer.introduction %></td>
    </tr>
    <tr>
      <td>フォロー</td>
      <td><%= link_to customer.followings.count, customer_followings_path(customer) %></td>
    </tr>
    <tr>
      <td>フォロワ－</td>
      <td><%= link_to customer.followers.count, customer_followers_path(customer) %></td>
    </tr>
  </table>

  <%= link_to "編集", edit_customer_path(customer), class: "btn btn-secondary btn-block btn-sm fas fa-bacterium" %>

<br>
<h2><span class="badge badge-pill badge-dark">思ひで</span></h2>
<%= form_with model:item, url:'/items', local:true do |f| %>

<h6>推し画像</h6>
<%= f.attachment_field :image %>

<h6>推しもん</h6>
<%= f.text_field :name, size: 30 %>

<h6>紹介</h6>
<%= f.text_area :guide, size: 30 %>

<br><%= f.submit '投稿', class: "btn btn-success btn-block btn-sm" %>
<% end %>