<h4>編集</h4>
<%= form_with model:@item, url:"/items/#{@item.id}", local:true do |f| %>
  
  <h6>推し画像</h6>
  <%= f.attachment_field :image %>
  
  <h2>推しもん</h2>
  <%= f.text_field :name %>
  
  <h2>紹介</h2>
  <%= f.text_field :guide %>
  <%= f.submit "編集" %>
<% end %>  