<div class="d-flex align-items-center" style="height:860px;">
  <div class="container">

    <div class="row justify-content-center">
      <h2><span class="badge badge-pill badge-dark">タグ検索結果</span></h2>
    </div>
        <br>
        <div class="mx-auto" style="width: 330px;">
        <br>
        <% @tag_list.each do |list| %>
          <span class="shadow">
            <%= link_to list.tag_name, tag_items_path(tag_id: list.id), :style=>"color:#E2E3CB; font-weight:bold;" %>
            <%= "(#{list.items.count})" %>
            <% end %>
          </span>

        <br></br>
        <%= " ─ " %>
        <strong><%= "#{@tag.tag_name}" %></strong>
        <%= " ─ 投稿一覧" %>
        <br></br>
        <% @items.each do |item| %>
          <strong class="shadow"><%= link_to item.name, item_path(item), :style=>"color:#E2E3CB; font-weight:bold;" %></strong>
          <% end %>
        <br></br>
        </div>
        <div class="text-center">
        <%= link_to '思ひで一覧', items_path, class: "btn btn-sm w-50 btn-outline-warning rounded-pill" %>
        </div>

    </div>
  </div>
</div>