<div class="d-flex align-items-center" style="height:800px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h2><span class="badge badge-pill badge-dark"><font color="#E2E3CB">推しもん</font></span></h2>
        <br>
      </div>
        
      <div class="col-6">
        <h5><strong><font color="#E2E3CB">推し絵姿</font></strong></h5>
        <%= attachment_image_tag @item, :image, :fill, 350, 350, format: "no_image.jpg", class:"rounded" %>
      </div>
  
        <div class="col-6">
          <div class="table table-borderless">
            <tr>
              <h5><strong><font color="#E2E3CB">推しもん</font></strong></h5>
              <p><strong><%= @item.name %></strong></p>
            </tr>
  
            <tr>
              <h5><strong><font color="#E2E3CB">紹介</font></strong></h5>
              <p><strong><%= @item.guide %></strong></p>
            </tr>
  
            <tr>
              <h5><strong><font color="#E2E3CB">懐かしいいね</font></strong></h5>
              <% if @item.customer.id != current_customer.id %>
              <p><%= render "favorites/favorite-btn", item: @item %></p>
              <% else %>
              <sapn class="far fa-heart" style="color:#00A0E9; font-weight:bold;"> <strong><%= @item.favorites.count %></strong></sapn>
              <% end %>
            </tr>
  
            <tr>
              <h5><strong><font color="#E2E3CB">コメント数</font></strong></h5>
              <p><span class="far fa-comment" style="color:#00A0E9; font-weight:bold;"> <strong><%= @item.comments.count %></strong></span></p>
            </tr>
  
            <%= render "comments/comment", item: @item %>
  
          </div>
        
              <div class="new-comment">
                <%= form_with(model:[@item, @comment], remote: true) do |f| %>
                <%= f.text_area :comment, size:"90x5",placeholder: "コメントをここに" %>
                <br><%= f.submit "送信", class: "btn btn-sm w-50 btn-outline-warning rounded-pill", :style=>"font-weight:bold;" %>
                <% end %>
              </div>
  
              <br>
              <div class="pull-left">
                <% if @customer.id == current_customer.id %>
                <%= link_to edit_customer_path(current_customer.id) do %>
                <%= link_to "", edit_item_path(@item.id), class: "btn btn-outline-info btn-sm w-25 fas fa-edit rounded-pill" %>
                <%= link_to "", item_path(@item.id), method: :delete, "deta-confirm" => "削除しますか？", class: "btn btn-outline-danger w-25 btn-sm fas fa-trash-alt rounded-pill" %>
                <% end %>
                <% end %>
              </div>
              <br>
              <%#= @item.recognition_tags.inspect %>
              <% @item.recognition_tags.each do |tag| %>
              <span class="label"><strong><%= tag.name %></strong></span>
              <% end %>
        </div>
    </div>
  </div>
</div>