<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1 text-center">
      <h2><span class="badge badge-pill badge-dark">推しもん詳細</span></h2>
    </div>
    
        <div class="col-lg-6">
          <h5><strong>推し画像</strong></h5>
          <%= attachment_image_tag @item, :image, :fill, 350, 350, format: 'no_image.jpg' %>
        </div>

        <div class="col-lg-6">
          <div class="table table-borderless">  
            <tr>
              <h5><strong>推しもん</strong></h5>
              <p><%= @item.name %></p>
            </tr>
            
            <tr>
              <h5><strong>紹介</strong></h5>
              <p><%= @item.guide %></p>
            </tr>
          </div>
        
        <div class="pull-left">
        <%= link_to "編集", edit_item_path(@item.id), class: "btn btn-success btn-sm" %>
        <%= link_to "削除", item_path(@item.id), method: :delete, "deta-confirm" => "削除しますか？", class: "btn btn-danger btn-sm" %>
        </div>
       </div>
  </div>
</div>    