<!DOCTYPE html>
<html>
  <head>
    <title>いろもん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fb53ccb37d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-a">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container">
          <a class="navbar-brand" href="/">
            <span><strong>いろもん</strong></span>
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span claas="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
              <li>
                <%#= link_to "Home", customer_path(current_customer), class: "fas fa-kiwi-bird text-light" %>
                <a class="fas fa-kiwi-bird nav-link text-light" href="/customers/<%= current_customer.id %>/">
                  懐旧館
                </a>
              </li>
              <li>
                <a class="fas fa-ghost nav-link text-light" href="/customers">
                  来遊者
                </a>
              </li>
              <li>
                <a class="fas fa-robot nav-link text-light" href="/items">
                  思ひで録
                </a>
              </li>
              <li>
                <a class="fas fa-bacteria nav-link text-light" href="/inquiries">
                  問掛け
                </a>
              </li>
              <li>
                <a class="fas fa-share-square nav-link text-light" data-method="delete" href="/customers/sign_out">
                  お還り
                </a>
              </li>

              <% elsif admin_signed_in? %>

              <div class="d-flex align-items-center">
              <span class="text-light"><strong>今、管理者です</strong></span>
              </div>

              <li>
                <a class="fas fa-ghost nav-link text-light" href="/admins/customers">
                  来遊者一覧
                </a>
              </li>
              <li>
                <a class="fas fa-robot nav-link text-light" href="/admins/items">
                  投稿一覧
                </a>
              </li>
              <li>
                <a class="fas fa-share-square nav-link text-light" data-method="delete" href="/admins/sign_out">
                  ログアウト
                </a>
              </li>

              <% else %>
              <li>
                <a class="fas fa-kiwi-bird nav-link text-light" href="/">
                  懐旧館
                </a>
              </li>
              <li>
                <a class="fas fa-id-card nav-link text-light" href="/customers/sign_up">
                  初遊
                </a>
              </li>
              <li>
                <a class="fas fa-joint nav-link text-light" href="/customers/sign_in">
                  再遊
                </a>
              </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <% if flash[:notice] %>
        <div class="alert alert-primary text-center" role="alert"><strong><%= notice %></strong></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger text-center" role="alert"><strong><%= alert %></strong></div>
      <% end %>

      <main>
        <br>
        <div class="text-center">
          <% if customer_signed_in? %>
          <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag (:word) %>
            <span>
              <%= select_tag 'range', options_for_select([['来遊者', '1'], ['思ひで', '2']]) %>
            </span>
            <span>
              <%= select_tag 'search', options_for_select([["前方一致", "forward_match"], ["後方一致", "backward_match"], ["完全一致", "perfect_match"], ["部分一致", "partial_match"]]) %>
            </span>
            <span>
              <%= submit_tag "検索" %>
            </span>
          <% end %>
          <% end %>
        </div>
        <%= flash[:notice] %>
        <%= yield %>
      </main>

      <footer>
        <strong>2021 <%= link_to "iromon", home_about_path(current_customer), :style=>"color:white;" %></strong>
      </footer>
    </div>
  </body>
</html>